@import 'tailwindcss';

button {
  @apply cursor-pointer;
}

/* Custom scrollbar styling for gallery */
.custom-scrollbar::-webkit-scrollbar {
  width: 1rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
